@using OCDSApi.Models
@model SearchViewModel
@{
    ViewBag.Title = "API Search";
}

<h2>@ViewBag.Title</h2>
<ul>
    <li>@Html.ActionLink("Search by CN ID","SearchByCnId","Home")</li>
    <li>@Html.ActionLink("Search by Publish Date", "SearchByPublishDate", "Home")</li>
</ul>
