<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
<h2>{{ Title }}</h2>
<p style="text-align: right;"><a href="/">Back to API Index</a></p>
<div class="row">
    <div class="col-md-8">
        <section id="searchForm">
            <form action="/DateRangeSearch" method="get">
                <hr/>
                <div class="form-group">
                    <label class="col-md-2 control-label">Publish Date</label>
                    <div class="col-md-10">
                        <label for="DataStart">from: </label>
                        <input type="text" name="DateStart" class="form-control" value="2016-03-01T07:20:10Z">
                        <label for="DateEnd"> to: </label>
                        <input type="text" name="DateEnd" class="form-control" value="2016-06-06T05:45:00Z">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Search" class="btn btn-default"/>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
</body>
</html>